
.post_user_profile{

height: 50px;
width: 60px;
border-radius: 50%;

}


.option-content-holder{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.posts_extra_container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.posts_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.no_br{
    border: none;
    background-color: transparent;
}
.no_br:hover{
    cursor: pointer;
}

.posts-options-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;

}

.post_user_profile{
    display: inline;
}

.mention{
    color: blue;
}

.posts_img{
    width: 100px;
    height: 100px;
}


/* Apply styles to the link itself */
.link-style {
    color: inherit; /* Inherit color from parent element */
    text-decoration: none; /* Remove default underline */
  }
  
  
  
  /* Apply styles to the link when visited */
  .link-style:visited {
    color: inherit; /* Inherit color from parent element */
    text-decoration: none; /* Remove default underline for visited links */
  }
  
  
  .reply_btn:hover {
    color: blue;
    background-color: rgba(0, 0, 255, 0.3); /* Translucent blue background */
    border-radius: 50%;
  }

  .fav_btn:hover {
    color: red; /* Text color */
    background-color: rgba(255, 0, 0, 0.3); /* Translucent red background */
    border-radius: 50%;
}

.react_btn:hover {
    color: green; 
    background-color: rgba(0, 255, 0, 0.3); 
    border-radius: 50%;
}

.posts-reply-button .hidden-text{
    display: none; 
    position: absolute; 
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    padding: 4px; 
  }
  
  .posts-reply-button , .like-container, .dislike-container, .favorite_posts_container{
    position: relative; 
  }
  
  .posts-reply-button:hover .hidden-text, 
  .like-container .hidden-text,
   .dislike-container .hidden-text, .favorite_posts_container  .hidden-text{
    display: block; 
  }




  .like-container .hidden-text {
    display: none;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 4px;
  }
  
  .like-container {
    position: relative;
  }
  
  .like-container:hover .hidden-text {
    display: block;
  }
  

  .dislike-container .hidden-text {
    display: none;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 4px;
  }
  
  .dislike-container {
    position: relative;
  }
  
  .dislike-container:hover .hidden-text {
    display: block;
  }


  .favorite_posts_container .hidden-text {
    display: none;
    position: absolute;
    width: 110%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 4px;
  }
  
  .favorite_posts_container {
    position: relative;
  }
  
  .favorite_posts_container:hover .hidden-text {
    display: block;
  }
  

.posts_content_text_container{
  margin-top: 10px;
}


.green_option_btn{
  color: green;
}

.red_option_btn{
  color: red;
}