
.post_user_profile{

height: 50px;
width: 60px;
border-radius: 50%;

}

.light_border_post .posts-border-container:last-child{
  border-bottom: 1px solid white;
  width:  100%;
}

.dark_border_post .posts-border-container:last-child{
  border-bottom: 1px solid black;
  width:  100%;
}

.light_border_post{
  border-top: 1px solid white;
  padding-left: 5px;
  padding-top: 8px;
  width: 100%;
}

.dark_border_post{
  border-top: 1px solid black;
  padding-left: 5px;
  padding-top: 8px;
  width: 100%;
}
.option-content-holder{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.posts_extra_container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.posts_content, .details_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reply_form_details{
  padding-left: 10px;
}

.posts_main_container{
  padding-top: 12px;
  padding-left: 10px;
}
.no_br{
    border: none;
    background-color: transparent;
}
.no_br:hover{
    cursor: pointer;
}

.posts-options-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;

}

.post_user_profile{
    display: inline;
}

.mention{
    color: blue;
}

.posts_img{
    max-width: 70%;
    height: auto;
}


/* Apply styles to the link itself */
.link-style {
    color: inherit; /* Inherit color from parent element */
    text-decoration: none; /* Remove default underline */
  }
  
  
  
  /* Apply styles to the link when visited */
  .link-style:visited {
    color: inherit; /* Inherit color from parent element */
    text-decoration: none; /* Remove default underline for visited links */
  }
  
  
  .reply_btn:hover {
    color: blue;
    background-color: rgba(0, 0, 255, 0.3); /* Translucent blue background */
    border-radius: 50%;
  }

  .fav_btn:hover {
    color: red; /* Text color */
    background-color: rgba(255, 0, 0, 0.3); /* Translucent red background */
    border-radius: 50%;
}

.react_btn:hover {
    color: green; 
    background-color: rgba(0, 255, 0, 0.3); 
    border-radius: 50%;
}

.posts-reply-button .hidden-text{
    display: none; 
    position: absolute; 
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    padding: 4px; 
  }
  
  .posts-reply-button ,
  .like-container, 
  .dislike-container, 
  .favorite_posts_container,
  .repost-button{
    position: relative; 
  }
  
  .posts-reply-button:hover .hidden-text, 
  .repost-button:hover .hidden-text,
  .like-container .hidden-text,
   .dislike-container .hidden-text, .favorite_posts_container  .hidden-text{
    display: block; 
  }


.repost-button .hidden-text{
  display: none;
  position: absolute;
  width: 140%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 4px;
}

  .like-container .hidden-text {
    display: none;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 4px;
  }
  
  .like-container {
    position: relative;
  }
  
  .like-container:hover .hidden-text {
    display: block;
  }
  

  .dislike-container .hidden-text {
    display: none;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 4px;
  }
  
  .dislike-container {
    position: relative;
  }
  
  .dislike-container:hover .hidden-text {
    display: block;
  }


  .favorite_posts_container .hidden-text {
    display: none;
    position: absolute;
    width: 110%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 4px;
  }
  
  .favorite_posts_container {
    position: relative;
  }
  
  .favorite_posts_container:hover .hidden-text {
    display: block;
  }
  

.posts_content_text_container{
  margin-top: 10px;
}


.green_option_btn{
  color: green;
}

.red_option_btn{
  color: red;
}

.gif_img{
  width: 100%;
  height: auto
}

.light_outline{
  color: white;
}

.dark_outline{
  color: black;
}


.posts_extra_container{
  display: flex;
  flex-direction: row;
}

.epllispy_container{
  margin-left: auto;
}

.ellipsis_btn{
  background-color: transparent;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-right: 10px;
}

.white_border{
  border: white 1px solid;
}

.dark_border{
  border: black 1px solid;
}

.ellipsis_btn:hover{
  cursor: pointer;
}

.option-container {
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  height: 320px;
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal_background_dark{
  background-color: black;
  z-index: 1000;
}

.modal_backgrond_white{
  background-color: white;
  z-index: 1000;
}

@media(min-width: 993px){
  .option-overlay {
  position: absolute;
  right: 400px;
  z-index: 900;
  }

}


@media(min-width: 320px) and (max-width: 992px){
  .option-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
}

.option_modal_btn{
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

.option_modal_btn:hover{
  cursor: pointer;
  background-color: rgba(169, 169, 169, 0.5);
}

.option_modal_content{
  margin-top: 15px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.button_text{
  font-size: 16px;
}

.post_article_img{
  width: 100%;
  height: auto;
}


.embedded_link_container{

display: flex;
flex-direction: column;

}