.poll_check{
    border-radius: 50%;
}

.answer_btn{
    background-color: rgb(29, 161, 242);
    border: none;
    color: white;
    height: 30px;
    font-weight: bold;
    border-radius: 10px;
}

.answer_btn:hover{
    cursor: pointer;
}