.Home_user_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Home_Post_input_container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.home_textera{
    width: 500px;
    height: 100px;
    resize: none;
    font-size: 30px;
    border: none;
    outline: none;
}

.text_background_dark{
    background-color: black;
    color: white;

}

.text_background_light{
    background-color: white;
    color: black;

}


.dark_text{
    color: black
}

.light_text{
    color: white;
}

@media(min-width: 993px){
    .home-post-button{
        display:none
    }
}
@media(min-width: 320px) and (max-width: 992px){
    .Home_Post_input_container{
        display: none;
    }
    hr{
        display: none;
    }
    .home-post-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: rgba(29, 161, 242, 0.7);
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 999px;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 999; 
        margin-bottom: 200px;
        margin-right: 20px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        text-align: center;
    }
    
    
}