
 .label-note{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
}

.note_input{
    width: 250px;
    height: 20px;
}

@media(min-width: 993px){
    
 
    
  
    
    .label-note{
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-weight: bold;
    }
    
    .note_first_section{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    
    .note_options_button{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

}


@media (min-width: 320px) and (max-width: 992px){

.note_input_bar_container{
    margin-bottom: 20px;
}

}
