
.post_details_btns{
   margin-top: 10px;
}


.replies_container{
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   gap: 40px;
}


.post_details_reply_text {
   width: 50vw;
  outline: none;
   resize: none;
   font-size: 25px;
   padding: 10px;
   box-sizing: border-box;
   margin: 10px 0;
   border: none;
 }
 
 .border_dark {
   border-top: 1px solid white;
   border-bottom: 1px solid white;
 }
 
 .border_light {
   border-top: 1px solid black;
   border-bottom: 1px solid black;
 }
 
 .reply_form_details {
   margin-top: 10px;
   margin-bottom: 10px;
 }

 .replies_btn_container{
  margin-left: auto;
  margin-right: auto
 }
 
@media(min-width:320px) and (max-width:992px){
  .reply_form_container{
    display: none;
  }
}