

.footer_border_white{
    border-left: solid white 1px;
}

.footer_border_dark{
    border-left: solid black 1px;
}

.article_img{
    height: 150px;
    width: 200px;

}

.new_article_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(126, 121, 121);
    max-width: 300px;
    padding: 20px;
}



.article{
    margin: 10px 10px 10px 10px;  
}

.article_real{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.user-drop-image{
    height: 50px;
    width: 60px;
    border-radius: 50%;
}

.user-drop-info{
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.user-drop-profilename{
    color: white;
    font-weight: bold;
}

.user-drop-name-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.user-drop-username{
    color: rgb(156, 154, 154);
}

@media(min-width:993px) {
    
    .dark_background{
        background-color: black;

        color: white;
    }
    
    .light_background{
        background-color: white;
        color: black;
    }

    .search_light{
        color: white;
        
    }

    .search_dark{
        color: black;
        border: blue solid 1px;
    }


    .search-link:hover{
        background: rgba(255, 255, 255, 0.1);
    }

    .dataResult {
        background-color: rgb(66, 63, 63);
        height: 200px;
        border-radius: 5px;
        position: absolute;
         width: 320px;
        z-index: 1; 
        margin-top: 5px; 
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
      }
    .profile_search_input_container{
        margin-right: 10px;
    }
    
    .dropdown-link{
        color: white;
        padding: 8px;
        padding-top: 5px;
    }
    
    .dropdown-link:hover{
        background-color: rgb(84, 86, 86);
    }
    
  
    
    .profile_search_input_container{
        margin-top: 20px;
        margin-left: 10px;
        
    }
    
    .profile_search_bar{
        height: 25px;
        border-radius: 25px;
        font-size: 20px;
        
        }
    
        .profile_search_bar {
            border: none;
            font-size: 18px;
            background-color: transparent;
            flex: 1;
            margin-left: 10px;
            height: 30px;
            outline: none;
          }
    
    .search_container{
        display: flex;
        align-items: center;
     
        
        border-radius: 40px;
        width: 200px;
        margin-top: 10px;
        padding: 5px;
    }
    
    .search_active{
        border: 1.8px solid blue;
    }
    
    .clear-bar:hover{
        cursor: pointer;
    }
    
    .footer{
        display: flex;
        flex-direction: column;
        min-height:  100vh;
    }
   
    .footer-content{
        flex: 1 0 auto
    }
    
}