.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  max-width: 600px; /* Adjust the width to your preference */
  width: 90%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-height: 90vh; /* Adjust to your preference */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
  position: relative;
  display: flex;
  flex-direction: column;

}

.modalLeft {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.closeBtn {
  color: red;
  cursor: pointer;
  font-size: 1.5rem;
}

.content {
  padding: 20px;
}

.posts_header {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 20px;
}

.label-signup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
}

.modal-container textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  resize: none; /* Prevent textarea resizing */
  font-size: 1rem; /* Adjust font size to your preference */
  line-height: 1.5; /* Adjust line height for readability */
  margin-bottom: 10px; /* Add some space between textarea and character count */
}

.text-red-700 {
  color: red;
  margin-top: 5px; /* Add space between character count and textarea */
}

.file-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px; /* Add space between file input and textarea */
}

button[type='submit'] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button[type='submit']:hover {
  background-color: #0056b3;
}

@media(min-width: 320px) and (max-width: 992px){
  .post_form{
    z-index: 99999;
  }
}