
.gif_img{
  width: 100%;
}

@media(min-width: 993px){
  .App {
    display: flex;
    flex-direction: row;
  }
  .users_home_page, 
  .profile, 
  .users_following_container,
  .note_page,
  .search_post_page,
  .posts_content{
    margin-left: 20px;
    margin-right: 20px;
  }

  .users_home_page, .posts_content{
    margin-top: 20px;
  }

}

.dark_background{
  background-color: black;
}


.light_background{
  background-color: white;
}


.content {
  flex: 1;
  overflow-y: auto; /* Allow content scrolling if needed */
 
  box-sizing: border-box;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.white_text{
  color: white;
}

.dark_text{
  color: black;
}

.white_option_btn{
  color: white;
}

.dark_option_btn{
  color: black;
}

.emoji_btn:hover{
  cursor: pointer;
}

.repost_style{
  color: gray;
  font-size: 14px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


