
.block_modal{
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 300px;
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .warning_message_container{
    display: flex;
    flex-direction: column;
    flex-direction: center;
    align-items: center;
  }

  .block_buttons_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .warning_message {
    align-items: center;
    justify-content: center;
    align-items: center;
    display: block;
    margin-left: 10px;
    line-height: 24px;
  }

 .block_background_dark{
    background-color: black;
    border: white solid 1px;
 
  }

 .block_background_white{
    background-color: white;
  }

  .light_text{
    color: white;
  }

  .dark_text{
    color: black;
  }