
a{
  text-decoration: none;
  color: black;
}
 
.active2{
  color: rgb(13, 13, 169);
}



@media(min-width: 993px){

  

  .nav_white_border{
    border-right: white solid 1px;
  }
  
  .nav_dark_border{
    border-right: black solid 1px;
  }


  nav {
    padding: 20px; /* Add some padding */
    height: 100%;
    display: flex;
    width: 220px;
  }
  
  .nav-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 100%;
  }
  
  .nav-content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
  }

  
  
  .nav-content {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .icon {
    vertical-align: middle;
    margin-right: 8px;
  }
  
  
  .logout{
    background-color: transparent;
    border: none;
  }
  
  .logout:hover{
    cursor: pointer;
  }
  
  .nav-content:hover{
    cursor: pointer;
  }

  .nav-search{
    display: none;
  }

  .nav-container{
    position: fixed;
  }
}






@media (min-width: 320px) and (max-width: 992px) {
  .nav-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
  
    padding: 10px; /* Adjust the padding as needed */
  }

  .nav-background-med-black{
    background-color: black;
  }

  .nav-background-med-white{
    background-color: white;
  }


  .nav-content-container {
    display: flex;
    justify-content: space-around; /* Adjust the alignment as needed */
  }

  .nav-content {
    text-align: center; /* Center align the items */
  }

  .icon {
    display: block;
    margin: 0 auto; /* Center the icons horizontally */
  }

  .text {
    display: block;
    font-size: 12px; /* Adjust the font size as needed */
  }

  .logo-container {
    display: none;
  }

  .logout {
    background-color: transparent;
    border: none;
  }

  .nav_med_white_border {
    border-top: white solid 1px;
  }

  .nav_med_dark_border {
    border-top: black solid 1px;
  }

  .verification_nav{
    display: none;
  }
}
