nav {
  text-align: left;
  border: black solid 1px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  position: fixed; /* Set position to fixed */
  top: 0; /* Attach to the top of the viewport */
  left: 0; /* Attach to the left of the viewport */
  background-color: white; /* Add background color */
  padding: 20px; /* Add some padding */
  box-sizing: border-box; /* Include padding in the width/height */
}

.nav-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.nav-content-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.nav-content {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.icon {
  vertical-align: middle;
  margin-right: 8px;
}


