

.signup-form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.signup-input{
    width: 300px;
    height: 30px;
    border-radius: 8px;
    font-size: 17px;
}


.sign-up-form-btn-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sign-btn{
    border: none;
    color: white;
    background-color:  #007bff;
    width: 80px;
    height: 30px;
    border-radius: 3px;
}

.condition_modal_btn{
    color: rgb(2, 137, 181);
}

.condition_modal_btn:hover{
    cursor: pointer;
}

@media(min-width: 993px) {
    .users_name_input_container{
        display: flex;
        flex-direction: row;
    }
    
}
